/*******************/
/**** CSS RESET ****/
/*******************/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*****************/
/** ROOT STYLES **/
/*****************/
:root {
  /* MAIN COLORS */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  /* FONTS */
  --ff-outfit: "Outfit", sans-serif;

  --fw-outfit-400: 400;
  --fw-outfit-700: 700;
  /* font-size paragraph: 15px => 0.938rem */
  --fs-outfit: 0.938rem;
}

/****************/
/* MAIN STYLING */
/****************/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
  height: 100vh;
}

.card {
  display: flex;
  width: 320px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:#fff;
  padding: 1rem;
  border-radius: 20px;

}

.card-qr {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 288px;
}

.card-heading {
  margin-bottom: 0.8rem;
  font-family: var(--ff-outfit);
  line-height: 1.2;
  width: 288px;
  color: var(--slate-900);
}

.card-paragraph {
  display: flex;
  margin: auto;
  width: 17.5rem;
  font-family: var(--ff-outfit);
  font-weight: var(--fw-outfit-400);
  margin-bottom: 1.1rem;
  color: var(--slate-500);
  align-items: center;
}
